# Created by http://www.gitignore.io

#!! ERROR: html is undefined. Use list command to see defined gitignore types !!#

### Node ###
lib-cov
lcov.info
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results
build
.grunt

node_modules


### Bower ###
bower_components
js/libs
